.footer-bg {
    background: #333333;
}

.footer-bg a, .footer-bg p, .footer-bg span, .footer-bg div {
    color: #fff;
    font-weight: 200;
}

.footer-bg .footer-row {
    padding: 2rem 0;
}

.container-sub-footer {
    background-color: rgb(20, 20, 20);
}
.sub-footer {
    padding: 15px 0;
}
.col-l p {
    margin-bottom: 0;
}
.col-r {
    text-align: right;
}
.col-r ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.col-r li {
    display: inline;
    margin: 0 0.5rem ;
}
.sub-footer .col-r {
    font-size: 18px;
    margin-top: -4px;
}


/* Mobile Screen */
@media screen and (max-width:767px) {
    .col-l {
        text-align: center;
        margin: 10px 0;
    }
    .col-r {
        text-align: center;
        margin: 10px 0;
    }
    .col-r li {
        display: inline;
        justify-content: space-between;
        margin: 0 0.8rem ;
    }
}