@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap');

body,html,a,p,h1,h2,h3,h4,h5,h6,li,ul,span,nav {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

a {
  opacity: 0.7;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

@media screen and (max-width:991px) {
  
}